.app-container {
    height: 100vh;
    padding-top: 50px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-left: 120px;
    background-color: $black-20;
    overflow-y: auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none !important;
}