// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$white: #FFFFFF;

$black: #232323;
$black-20: #2e2e2e;

$blue-20: #91E5F6;
$blue-40: #84D2F6;
$blue-60: #59A5D8;
$blue-80: #386FA4;
$blue: #133C55;