.o-side-panel {
    background-color: $black;
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    ~ .app-container {
        margin-left: 100px;
    }

    &__logo {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
    }

    &__open-menu {
        &-icon {
            display: block;
            cursor: pointer;

            svg,
            svg * {
                fill: $white;
            }
        }
    }
}

.o-side-panel-nav {
    background-color: $black;
    width: 200px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: -200px;
    padding-top: 20px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    &__close-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;


        &-icon {
            display: block;
            width: 24px;
            height: 24px;
            cursor: pointer;

            svg,
            svg * {
                fill: $white;
            }

            svg {
                width: 100%;
                height: 100%;
            }
            
        }
    }

    &__logo {
        width: 60px;
        height: 60px;
        margin-bottom: 50px;
    }

    &__menu {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        &-element {
            position: relative;
            width: 100%;
            margin: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 30px;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: $white;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;

            &:before {
                content: '';
                position: absolute;
                display: block;
                right: 0;
                top: 0;
                bottom: 0;
                width: 25px;
                height: 100%;
                background: transparent;
                clip-path: polygon(100% 0, 100% 100%, 0 50%);
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
            }

            &:hover {
                color: $blue-80;
                background-color: $black-20;

                &:before {
                    background: $black;
                }
            }
        }        
    }

    &.is-open {
        left: 0;
    }
}
